@import url("./base_style.css");

nav {
    background-color: var(--up-color);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

nav li {
    flex: 1;
    text-align: center;
}

nav a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 25px;
}

.rect {
    height: 45px;
    width: 45px;
    background-color: rgb(65, 125, 255);
}

#btn-1 , #btn-2 {
    display: flex;
    flex-direction: row;
   
}

#btn-1  > button{
    width: 250px;
}
#btn-2  > button{
    width: 250px;
}

button {
    border: none;
    color: rgb(121, 121, 121);
}

.child-1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}